$galano-font-path: '../fonts/GalanoGrotesque/';
@font-face {
  font-family: "galano";
  src:url("#{$galano-font-path}GalanoGrotesque.eot");
  src:url("#{$galano-font-path}GalanoGrotesque.eot?#iefix") format("embedded-opentype"),
    url("#{$galano-font-path}GalanoGrotesque.woff") format("woff"),
    url("#{$galano-font-path}GalanoGrotesque.ttf") format("truetype"),
    url("#{$galano-font-path}GalanoGrotesque.svg#hostify") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "galano";
  src:url("#{$galano-font-path}GalanoGrotesque.eot");
  src:url("#{$galano-font-path}GalanoGrotesque.eot?#iefix") format("embedded-opentype"),
    url("#{$galano-font-path}GalanoGrotesque.woff") format("woff"),
    url("#{$galano-font-path}GalanoGrotesque.ttf") format("truetype"),
    url("#{$galano-font-path}GalanoGrotesque.svg#hostify") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "galano";
  src:url("#{$galano-font-path}GalanoGrotesque.eot");
  src:url("#{$galano-font-path}GalanoGrotesque.eot?#iefix") format("embedded-opentype"),
    url("#{$galano-font-path}GalanoGrotesque.woff") format("woff"),
    url("#{$galano-font-path}GalanoGrotesque.ttf") format("truetype"),
    url("#{$galano-font-path}GalanoGrotesque.svg#hostify") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "galano";
  src:url("#{$galano-font-path}GalanoGrotesque-Medium.eot");
  src:url("#{$galano-font-path}GalanoGrotesque-Medium.eot?#iefix") format("embedded-opentype"),
    url("#{$galano-font-path}GalanoGrotesque-Medium.woff") format("woff"),
    url("#{$galano-font-path}GalanoGrotesque-Medium.ttf") format("truetype"),
    url("#{$galano-font-path}GalanoGrotesque-Medium.svg#hostify") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "galano";
  src:url("#{$galano-font-path}GalanoGrotesque-Medium.eot");
  src:url("#{$galano-font-path}GalanoGrotesque-Medium.eot?#iefix") format("embedded-opentype"),
    url("#{$galano-font-path}GalanoGrotesque-Medium.woff") format("woff"),
    url("#{$galano-font-path}GalanoGrotesque-Medium.ttf") format("truetype"),
    url("#{$galano-font-path}GalanoGrotesque-Medium.svg#hostify") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "galano";
  src:url("#{$galano-font-path}GalanoGrotesque-AltExtraBold.eot");
  src:url("#{$galano-font-path}GalanoGrotesque-AltExtraBold.eot?#iefix") format("embedded-opentype"),
    url("#{$galano-font-path}GalanoGrotesque-AltExtraBold.woff") format("woff"),
    url("#{$galano-font-path}GalanoGrotesque-AltExtraBold.ttf") format("truetype"),
    url("#{$galano-font-path}GalanoGrotesque-AltExtraBold.svg#hostify") format("svg");
  font-weight: 900;
  font-style: normal;
}