<div id="details">
  <div class="content mt-3" *ngIf="(customer$ | async); let customer; else loadingCustomer">
    <h1 class="display-4">{{ model.getFullName() }}</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="card mt-3">
          <div class="card-body">
            <p class="lead">This is the details of the customer.</p>
            <hr/>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Firstname</label>
                  <input type="text" [readonly]="!edit" class="h5" [class.form-control-plaintext]="!edit" [class.form-control]="edit" #firstname="ngModel" [(ngModel)]="model.name.first" [value]="customer.name.first | titlecase">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Surname</label>
                  <input type="text" [readonly]="!edit" class="h5" [class.form-control-plaintext]="!edit" [class.form-control]="edit" #lastname="ngModel" [(ngModel)]="model.name.last" [value]="customer.name.last | titlecase">
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <fieldset class="form-group">
                  <legend class="col-form-label">Gender</legend>
                  <input *ngIf="!edit; else genderSelector" type="text" [readonly]="!edit" class="h5" [class.form-control-plaintext]="!edit"
                    [class.form-control]="edit" [value]="model.gender | titlecase">
                  <ng-template #genderSelector>
                    <div class="d-inline">
                      <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" #gender="ngModel" [(ngModel)]="model.gender" id="female" name="gender" value="f"
                        />
                        <label class="form-check-label" for="female">
                          Female
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" #gender="ngModel" [(ngModel)]="model.gender" id="male" name="gender" value="m"
                        />
                        <label class="form-check-label" for="male">
                          Male
                        </label>
                      </div>
                    </div>
                  </ng-template>
                </fieldset>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Date of Birth</label>
                  <input *ngIf="!edit; else birthdayPicker" type="text" readonly class="form-control-plaintext h5" #birthday="ngModel" [(ngModel)]="model.birthday" [value]="customer.birthday"
                    #birthday="ngModel" [(ngModel)]="model.birthday" id="date-of-birth" name="birthday" autocomplete="off"
                  />
                  <ng-template #birthdayPicker>
                    <input type="text" [readonly]="!edit" class="h5" [class.form-control]="edit" #birthday="ngModel" [(ngModel)]="model.birthday" [value]="customer.birthday"
                      #birthday="ngModel" [(ngModel)]="model.birthday" id="date-of-birth" name="birthday" autocomplete="off"
                      appDatePicker/>
                  </ng-template>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Lifetime Value</label>
                  <input type="number" [readonly]="!edit" class="h5" [class.form-control-plaintext]="!edit" [class.form-control]="edit" #lifetime="ngModel" [(ngModel)]="model.customerLifetimeValue" value="{{customer.customerLifetimeValue}}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="my-2">
          <a class="btn btn-secondary" routerLink="/">
            <i class="fa fa-arrow-left"></i> &nbsp;Back to homepage
          </a>
          <button *ngIf="edit; else editButton" class="btn btn-primary" (click)="saveCustomer(model)" [loading]="formLoading">
            Save Record
          </button>
          <ng-template #editButton>
            <button class="btn btn-primary" (click)="gotoEditDetails(true)">
              Edit Record
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingCustomer>
  <div class="lead my-5">
    <div class="loader">Loading
      <span class="loader-dot">.</span>
      <span class="loader-dot">.</span>
      <span class="loader-dot">.</span>
    </div>
  </div>
</ng-template>